{% extends "index.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 hyphenate">
            {% include "tutorial_text.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block below_js %}
<script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='js/highcharts-more.js')}}"></script>
<script src="{{url_for('static', filename='js/themes/grid-light.js')}}"></script>
<script type="text/javascript" charset="utf-8">
$.getJSON('{{url_for('comp_time')}}', function (csv) {
    var ranges = csv['ranges'];
    var averages  = csv['avg'];
    
$('#container').highcharts({
    chart: { zoomType: 'xy' },
    title: { text: 'Time between submission and finish date' },
    xAxis: { title: { text: 'simulation cycles*(receptor length + ligand length)/50', } },
    yAxis: { min:0, title: { text: 'Time (hours)' } }, 
    tooltip: { crosshairs: true, shared: true, valueSuffix: 'h' },
        legend: { },
        series: [
            {
            name: 'Average running time',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, 
        
            {
            name: 'Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }
        
        ]
    });
});






</script>
{% endblock %}
