{% extends "index.html" %}
{% set jinja_colors = ["#a6cee3", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#cab2d6", "#6a3d9a", "#b15928"] %}
    {% set v2 = 'Job was already submitted..' %}
    {% set v = 'disabled="disabled"' %}
    {% if status=='pending' %}
        {% set v = '' %}
        {% set v2 = 'Submit job!' %}
    {% endif %}

{% set G = 0 %} 
{% set GG = 0 %} 

{% block header %}
<style>
span:hover {
    background-color: #B2EC5D;// #138808;
} 

span::-moz-selection {
    background:#B2EC5D;
    cursor: move;
}
</style>
<script src="{{url_for('static', filename='js/jsmol/JSmol.min.js')}}" type="text/javascript" charset="utf-8"></script>
<script>
var jmol_selected = [];
var saved = 0;
var jmol_selected2 = [];
var global_constraints_row_index=10000;
var jmol_temporary_selected = [];
var global_color_index = 0;
var colors = ["#a6cee3", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#cab2d6", "#6a3d9a", "#b15928"];
var colors_jmol = ["[xa6cee3]", "[xb2df8a]", "[x33a02c]", "[xfb9a99]", "[xe31a1c]", "[xfdbf6f]", "[xcab2d6]", "[x6a3d9a]", "[xb15928]"];
var jmol="jmol";
var jme = "jme";
var jmolApplet0; // set up in HTML table, below
var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all options

jmol_isReady = function(applet) {
    var s_seq =  Jmol.evaluateVar(jmolApplet0, "{atomName=CA}.identify");
    var seq = Jmol.evaluateVar(jmolApplet0, "{atomName=CA}.sequence");
    var out = [];
    var numbersout = [];
    var prevchain='FNORD';
    for (var i=0;i<seq.length;i++) {
            var resid = s_seq[i].match(/](.*):/)[1];
            var chain = s_seq[i].match(/:(.*).CA/)[1];

            if (chain!=prevchain) {
                prevchain=chain;
                out[i] = "</div><div class='sequence' data-chain='"+chain+"' name='sequenceSpan"+chain+
                    "' id='sequenceSpan"+chain+"'><strong>chain "+chain+"</strong>: <span name='"+resid+"' id='seq"+
                    resid+""+chain+"' data-chain='"+chain+"' data-resid='"+resid+"'>" + seq[i] + "</span>";
            } else{
                out[i] = "<span name='"+resid+"' id='seq"+resid+""+chain+"' data-chain='"+chain+
                    "' data-resid='"+resid+"'>" + seq[i] + "</span>";
            }
    }
    // ligand seq:
    var lig_seq = "{{ligand_seq}}";
    var out2 = [];
    for (var i=0; i<lig_seq.length;i++) {
        out2[i] = "<span name='"+i+"' id='seq"+i+"ligand' data-chain='LIGAND' data-resid='"+i+"'>" + lig_seq[i] + "</span>";
    }
    var right_info = "";
    //out2 = "<hr><div class='sequence' data-chain='LIGAND' name='sequenceSpanLIGAND' id='sequenceSpanLIGAND'><strong>LIGAND</strong>:"+out2.join('')+right_info+"</div>";
    $("#sequenceSpan").html(out.join(''));//+out2); // add ligand seq
    $("div[name^='sequenceSpan'] > span:nth-child(10n)").css({"text-decoration":"underline"});


    $('div span').bind('mouseenter', function() {
        var v = $(this).data("resid");
        var chain = $(this).data("chain");
        $("#wybrane").html(v+":"+chain);
        Jmol.script(jmolApplet0,"restrict protein; halos off;select "+v+":"+chain+";  halos on");
    });

    function selStr(color) {
        var s = window.getSelection();
        for (var i = 0; i < s.rangeCount; i++) {
            var selRange = s.getRangeAt(i);
            var endRes0 = selRange.endContainer.parentNode.dataset['resid'];
            var endRes1 = selRange.startContainer.parentNode.dataset['resid'];
            var seqFrom = Math.min(endRes0, endRes1);
            var seqTo = Math.max(endRes0, endRes1);
            var chain = selRange.endContainer.parentNode.dataset['chain'];
            Jmol.script(jmolApplet0,"select "+seqFrom+"-"+seqTo+":"+chain+"; color "+color+"");
            }

    }
    $("[name^='sequenceSpan']").mouseup(function () { 
           selStr("[xfbb450]");
    });
    $("body").mousedown(function () { 
           selStr("deepskyblue");
    });
} // after jmol init 	

var JmolInfo = {
	width: '100%',
	height: '100%',
	debug: false,
	color: "white",
	addSelectionOptions: false,
	serverURL: "http://biocomp.chem.uw.edu.pl/jsmol.php",
	use: "HTML5",
	readyFunction: jmol_isReady,
        script: "set platformSpeed 8;background white;load {{url_for('compute_static', jobid=jid)}};restrict protein; trace only;color deepskyblue;color halos [255,0,0]",
	j2sPath: "{{url_for('static', filename='js/jsmol/j2s')}}",
	isSigned: "true",
	defaultModel: "",
        console: "false",
}
var JMEInfo = {  
	use: "HTML5"
}
</script>
    {% endblock %}


{% block body %}


<div class="container-fluid">
    <div class="row-fluid">
        <div  class="behind col-md-9">
            <div id="ooo" style="height:600px;border:1px solid;border-color:#eee;margin-bottom:15px">
<script>
Jmol._alertNoBinary = false;
jmol = Jmol.getApplet("jmolApplet0", JmolInfo);
jme = Jmol.getJMEApplet(jme , JMEInfo, jmol);
var lastPrompt=0;
</script>
</div>
        <div class="panel panel-default">
                <div class="panel-heading"> 
                    <p>
                    System/Chains sequences
                    <button class="pull-right btn btn-sm btn-primary" {{v}}  id="sele">Add constraint</button></p>

                </div>
                <div class="panel-body">
        <div style="font-family:monospace" id="sequenceSpan"></div>
        <div style="font-family:monospace" id="sequenceSpan2"></div>
    </div>
    <div class="panel-footer">
                    &nbsp; <span class="pull-right badge">
        residue below cursor: <span style="font-family:monospace" id="wybrane"></span>
    </span>
                        </div>
</div>


</div>
<div class="col-md-3">


        <div class="panel panel-primary">
                <div class="panel-heading"> Selected constraints </div>
                <div class="panel-body">
                    <div style="overflow-y:auto;height:200px">
                    <table id="constraintsTable" class="table table-hover table-condensed"> 
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>constraints within residues</th>
                                <th>weight</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr><td></td><td></td><td></td></tr>
                        {% for c in constr %}
                           <!--sieczka-->
                            <tr><td class='del'>
                                <a href="#" onclick='rowDel(this)' data-jmol='{{c['constraint_jmol']}}' id='rowdel{{G}}' data-rowid='{{G}}' name='rowdel{{G}}'><i class='text-danger fa fa-close'></i></a></td>
                            <td><span style='color:{{jinja_colors[GG]}}' data-rowid='{{G}}' data-jmol='{{c['constraint_jmol']}}' name='consrange{{G}}'>{{c['constraint_definition']}}</span></td>
                            <td class='constr'>
                                <select id="row_weight{{G}}" class="input-sm form-control">
                                    {{di[c['force']|safe]|safe}} 
                                </select> 
                            </td> 
                                
                            {% set G = G + 1 %}
                            {% set GG = GG + 1 %}
                            {% if GG==9 %}
                                {% set GG=0 %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
                <div class="form-inline">
                        <input type="text" class="form-control" id="addManually" size=15 name="addManually">
                        <button {{v}} onclick="manAdd()" class="btn btn-info"> Add custom range </button>
                        <a href="#" tabindex="0" class="tt2" data-toggle="popover" data-trigger="focus" title="Add custom constraints"><i class="fa fa-info-circle"></i> </a>
                    </div>
                    <hr>
                <div class="row">
                    <div class="col-md-8">
                        <button {{v}} class="btn btn-block btn-warning" id="saveConstrains"><i class="fa fa-save"></i> Save constraints</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <input type="text"  size=3 value="{{scaling}}"  id="constrW" width=2>
                        <a href="#" class="tt" data-original-title="Overall scaling factor"><i class="fa fa-info-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="infobar">
                                <hr><div data-dismissable=true data-fade=true class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><i class="fa fa-save"></i> Constraints saved.</div>
                            
                            
                            
                            </div>
                        </div>
                    </div>


                </div>
        </div>


    <button id="kaka" type="submit" {{v}} class="btn btn-lg btn-block btn-success"> <i class="fa fa-gears"></i> {{v2}} </button>
                    <hr>
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading"> 
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Help <i class="fa fa-caret-down"></i>  
                </a> 
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Siała baba mak, nie wiedziała jak
                </a>
                    <ul>
                        <li>Użycie ctrl</li>
                        <li>dopiero kliknięcie Save constranints zapisuje je do bazy</li>
                        <li>Jakieś informacje nt wagi więzów</li>
                        <li>Można by napisać, że jeśli wybierze się więz z ligandem to tak jakby wybrany fragment był w okolicy 0-10A(?)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-bookmark"></i> 
                                You can bookmark this page to postpone constraints addition. Do not forget to press <u>Save constraints</u> if you made some changes.
                            </div>
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-gears"></i> 
                                If default constraint set is correct - just click <u>Submit job!</u> to run simulation.
                            </div>
</div>

</div>

<!-- Small modal -->

<div class="modal fade" id="alercja" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="laba">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="laba">Constraints not saved</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <img src="{{url_for('static', filename='img/CABSdock.svg')}}" class="img-rounded" width=100%>
              </div>
              <div class=col-md-8>
                    <h4>
                    Save constraints before submitting job (if you added any new).
                    </h4>
            </div>
    </div>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" id="finalform" role="form" method="post" action="{{url_for('final_submit')}}">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-undo"></i> Back</button>
        <input type="hidden" name="jid" value="{{jid}}">
            <button type="submit" class="btn btn-success"><i class="fa fa-gears"></i> Submit job, anyway!</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
{% endblock %}
{%block below_js%}

    <script type="text/javascript" charset="utf-8">
    $("#kaka").click(function () {
            if (saved==0) {
                $('#alercja').modal();
            } else {
                $('#finalform').trigger('submit');
            }
    });

    function getRangesAndChain(selection) {
            var endRes0 = selection.endContainer.parentNode.dataset['resid'];
            var endRes1 = selection.startContainer.parentNode.dataset['resid'];
            var chain = selection.startContainer.parentNode.parentNode.dataset['chain'];
            // tutaj mozna iteracje po tym zakresie i zmienic styl sekwencji
            var seqFrom = Math.min(endRes0, endRes1);
            var seqTo = Math.max(endRes0, endRes1);
            return [chain,seqFrom, seqTo];
    }
    function colorSeq(chain, seqFrom, seqTo,g) {
        var col = colors[global_color_index];
        $("#sequenceSpan"+chain+" > span").filter(function() {
                        var rid = parseInt($(this).data("resid"));
                        return rid >= seqFrom && rid <= seqTo;
                        }).addClass("colored"+g).css({'color':col, 'text-decoration': 'underline'});
    }
    function highlightSelectedText() {
        if (window.getSelection) {  // all browsers, except IE before version 9
                var currSelection = window.getSelection ();
                var selected = [];
                var g = global_constraints_row_index;
                //var jmol_selected = [];
                if (global_color_index==colors.length)
                    global_color_index=0;
                var jmolr = [];
                for (var i = 0; i < currSelection.rangeCount; i++) {
                    var s = getRangesAndChain(currSelection.getRangeAt(i));
                    colorSeq( s[0], s[1], s[2],g);
                    jmol_selected.push(s[1]+"-"+s[2]+":"+s[0]);
                    jmolr.push(s[1]+"-"+s[2]+":"+s[0]);
                    Jmol.script(jmolApplet0,"select "+s[1]+"-"+s[2]+":"+s[0]+"; color "+colors_jmol[global_color_index]+"");
                    selected.push(s[1]+":"+s[0]+" - "+s[2]+":"+s[0]);
                }
                var newRow = "<tr>" + "<td class='del'>" + 
                        "<a href='#' onclick='rowDel(this)' data-jmol='"+jmolr.join(", ")+"' id='rowdel"+g+"' data-rowid='"+g+"' name='rowdel"+g+"'><i class='text-danger fa fa-close'></i></a></td>" +
                        "<td ><span style='color:"+colors[global_color_index]+"' data-jmol='"+jmolr.join(", ")+"' data-rowid='"+g+"' name='consrange"+g+"'>"+selected.join(", ")+"</span></td>" +
                        "<td class='constr'>"+printList("row_weight"+g)+"</td>" +
                        "</tr>";
                    $('#constraintsTable > tbody > tr:first').after(newRow);
                    global_constraints_row_index+=1;
                currSelection.removeAllRanges ();

                //Jmol.script(jmolApplet0,"select "+jmol_selected.join()+"; color green");
                global_color_index += 1;
        }
    }
$(document).ready(function() {
{% for row in  jmol_color %}
    {{row|safe}}
{% endfor %}
global_color_index = {{jmol_color|length +1}};
if (global_color_index>=colors.length)
   global_color_index=0;

// from database ^



        $("#infobar").slideUp(0);
    $("#sele").click(function () { // dodaj zaznaczenie do listy zaznaczen
            highlightSelectedText();

    });
    $("#sele2").click(function () { // dodaj zaznaczenie do listy zaznaczen
            highlightSelectedText();

    });
    $("#saveConstrains").click(function() {
            saved = 1;
            var scalingFactor = document.getElementById('constrW').value;
            var user_constraints = [];
            var user_constraints_jmol = [];
            var weights = [];
            $("td span[name^='consrange']").each(function() { 
                var rngs = $(this).text();
                var rowid = $(this).data('rowid');
                var rngs_j = $(this).data('jmol');
                var weight = $("#row_weight"+rowid).val();
                weights.push(weight);
                user_constraints.push(rngs);
                user_constraints_jmol.push(rngs_j);
            });
            var variables = {'constr[]': user_constraints, 'constr_w[]': weights, 'constr_jmol[]': user_constraints_jmol, 'overall_weight': scalingFactor, 'jid': '{{jid}}' };
            $.post("{{url_for('user_add_constraints')}}", variables, function() {
                $("#infobar").slideDown(500).delay(1500).slideUp(1500);
            });
    });

});
/*
                kraina chaosu i fuszerki
*/

function manAdd() {
    var g = global_constraints_row_index;
    var dataToAdd = document.getElementById('addManually').value;
    var newRow = "<tr>" + "<td class='del'>" + 
"<a href='#' onclick='rowDel(this)' id='rowdel"+g+"' data-jmol='"+dataToAdd+"' data-rowid='"+g+"' name='rowdel"+g+"'><i class='text-danger fa fa-close'></i></a></td>" +
"<td ><span data-rowid='"+g+"' data-jmol='"+dataToAdd+"' name='consrange"+g+"'>"+dataToAdd+"</span></td>" +
"<td class='constr'>"+printList("row_weight"+g)+"</td>" +
"</tr>";
$('#constraintsTable > tbody > tr:first').after(newRow);
document.getElementById('addManually').value = '';
global_constraints_row_index+=1;
}
function rowDel(el) {
        var row = $(el).closest('tr');//parent().parent();
        var g = $(el).data("rowid");
        var jmol_range = $(el).data("jmol");
        row.remove();
        Jmol.script(jmolApplet0,"select "+jmol_range+"; color deepskyblue");
        $(".colored"+g).removeClass("colored"+g).css({'color':'', 'text-decoration': ''});
        // TODO uncolor on the structure
}
function printList(lab) {
    var sel = '<select id="'+lab+'" class="input-sm form-control"><option value="1.0">default</option><option value="0.25">light</option><option value="5.0">strong</option></select>';
    return sel;
}
$('.tt').tooltip();
$('.tt2').popover({'content':"Use this panel to add custom distance restraints between ligand \
        and receptor or other distance restraints if you don't want to use visual mode. \
        <br>Examples: <hr>Add 5.0 Angstrom distance constraint between 2nd C&alpha; atom of ligand and 3rd res. of D-chain of complex - add constraint: <strong><nobr>2:LIGAND, 6:D, 5.0</nobr></strong><hr>\
        Add set of distance restraints between fragment 1-100 of chain A and fragment 1-10 of chain C: <strong><nobr>1-10:C, 1-100:A</nobr></strong><hr>\
        Add 5.0A distance restraint between res. 1:A and res. 23:B: <strong><nobr>1:A, 23:B, 5.0</nobr></strong>", 'html': true, 'placement':'left'});
    </script>

{%endblock%}



