{% extends "index.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            sdfsadafsd
        </div>
        <div class="col-md-8">
            <div id="container"></div>
        </div>
    </div>
</div>
{% endblock %}

{%block below_js%}
<script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
<script type="text/javascript" charset="utf-8">

$.getJSON('{{url_for('clustsep', jid='aaa')}}', function (csv) {
var chart;
    csv.push(
{
            type: 'pie',
            name: 'Number of elements in selected cluster',
            data: [],
            center: [270, 260],
             slicedOffset: 0,
                stickyTracking: true,
                 enableMouseTracking: false,
            size: 50,
                innerSize: 5,
            showInLegend: false,
            shadow: false,
            ignoreHiddenPoint: true,
            dataLabels: { enabled: true }
        });

chart = $('#container').highcharts({
        chart: {type: 'scatter',
            zoomType: 'xy', 
            events: {
            click: function(e) {
                    console.dir(e);
            }
            }
        },
        title: { text: 'Clusters separation between replicas'},
        yAxis: { tickInterval: 1, title: { text: 'Replica index' } },
        xAxis: { min: 0, max: 1000, tickInterval: 50, title: { text: 'Model index' } },
        legend: { enabled: true, align: "right",layout: "vertical", verticalAlign: "middle"},
        series: csv,
        plotOptions: {
            series: {
                cursor: 'pointer',
                    point: {
                        events: {
                            // click on a point
                            'click': function () {  
                                    console.log(this.x + "ee " + this.y);
                            }
                        }
                    },
                events: {
                            // clicking on the legend
                            'legendItemClick': function() { 
                                
                                var reps = {};

                                for (var i=0;i<this.data.length;i++) { 
                                    var v  = this.data[i].y;
                                    if (v in reps)
                                        reps[v]++;
                                    else
                                        reps[v] = 1;
                                }
                                var n = [];
                                for (k in reps) {
                                    n.push({name: 'Replica '+k+" in "+this.name, y: reps[k]});
                                }

                                this.chart.series[this.chart.series.length-1].setData(n, true);
                                this.chart.redraw();
                            }
                }
                    },
            scatter: {
                marker: {
                    radius: 4,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                tooltip: {
                    headerFormat: 'Cluster: <b>{series.name}</b><br>',
                    pointFormat: 'Model number: {point.x}, Replica: {point.y}'
                }
            }
        },

    });
});

</script>
{%endblock%}
