{% extends "index.html" %}
    {% block header %}
        <script src="{{url_for('static', filename='js/jsmol/JSmol.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script>
        var jmol="jmol";
        var jme = "jme";
        var jmolApplet0; // set up in HTML table, below
        var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all options
        jmol_isReady = function(applet) {}
        var JmolInfo = {
            width: '100%',
            height: '100%',
            debug: false,
            color: "white",
            addSelectionOptions: false,
            serverURL: "http://biocomp.chem.uw.edu.pl/jsmol.php",
            use: "HTML5",
            readyFunction: jmol_isReady,
            script: "set platformSpeed 2;set frank off;set hoverDelay 0.001;background white;load http://localhost:5000/job/55510f4e94c601a/clusters/cluster_3.pdb.gz;color chain; connect 3.2 4.4 (carbon) (carbon)  create;wireframe 0.6;anim mode loop;anim fps 8;anim on",
            j2sPath: "{{url_for('static', filename='js/jsmol/j2s')}}",
            isSigned: "true",
            defaultModel: "",
            console: "false",
}
var JMEInfo = {  use: "HTML5" }
    </script>
    {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            sdfsadafsd
        </div>
        <div class="col-md-8">
          <div class="behind col-md-8">
            <div id="ooo" style="height:510px;border:0px solid;border-color:#eee;margin-bottom:15px">
                <h3>Select trajectory from the right panel to view. Note that it may hangs browser windows for few minutes</h3>
                <script>
                Jmol._alertNoBinary = false;
                jmol = Jmol.getApplet("jmolApplet0", JmolInfo);
                jme = Jmol.getJMEApplet(jme , JMEInfo, jmol);
                var lastPrompt=0;
                </script>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{%block below_js%}
        <script>

        </script>
{%endblock%}
