{% extends "index.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <address>
            <strong>Laboratory of Theory of Biopolymers</strong><br>
            Faculty of Chemistry,
            University of Warsaw<br>
            Pasteura 1, 02-093 Warsaw, Poland<br>
            tel.: (+48) 22 8220211<br>
            fax: (+48) 22 8220221, (+48) 22 8225996<br>
            <a href="http://biocomp.chem.uw.edu.pl" target="_blank">Laboratory homepage</a><br>

            <i class="fa fa-envelope-square"></i> biocomp<i class="fa fa-at"></i>chem.uw.edu.pl

            </address>

            <p><strong>Authors</strong><br><address>

                    Michał Jamróz, Mateusz Kurciński, Sebastian Kmiecik, Andrzej Koliński
            </address>
        </div>
    </div>
</div>

{% endblock %}
