{% extends "index.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <button onClick='parsePdb("http://localhost:5000/job/b471da936a248ec/models/model_2.pdb.gz/model.pdb");'>load structure</button>
            <button onClick='printContacts(3.0);'>dist</button>
            <div id="container" style="margin: 0 auto;height: 400px; width:800px"></div>
        </div>
    </div>
</div>

{% endblock %}
{%block below_js%}
<script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/maps/modules/heatmap.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script type="text/javascript" charset="utf-8">
var out = {};
var chart;
var contacts = [];
function parsePdb(pdb_model) {
    $.get(pdb_model, function(data) {
    //ATOM   2897  O   LEU C 352    -922.681-999.559-940.609  1.00137.23           O
        var lines = data.split("\n");
        var reg = /^ATOM.{7}(....).(....).(.)(.{4}).{4}(.{8})(.{8})(.{8}).*$/
        out = {};
        for (var i=0; i<lines.length;i++) {
            var par = lines[i].match(reg);
            if (par) {
                var atn = par[1].trim();
                var resn = par[2].trim();
                var resch = par[3].trim();
                var residx = par[4].trim();
                var atx = parseFloat(par[5]);
                var aty = parseFloat(par[6]);
                var atz = parseFloat(par[7]);

                var key = resn+"_"+resch+"_"+residx;

                var pos = {'key': key, 'atomName': atn, 'resName': resn, 'chain': resch, 
                    'index': residx, 'x': atx, 'y': aty, 'z': atz, 
                    'dist': function(to) { 
                       var xd = to.x-this.x; 
                       var yd = to.y-this.y; 
                       var zd = to.z-this.z; 
                       return Math.sqrt(xd*xd + yd*yd + zd*zd);
                    } 
                };
                if (key in out)
                    out[key].data.push(pos);
                else {
                    out[key] = {chain: resch, data : [pos], idx: 1*residx};
                }
            }
        }
    });
}




function printContacts(cutoff) {
    contacts = [];
    for (var i in out) {
        for (var j in out) {
            var resi = out[i].data;
            var resj = out[j].data;

            if (out[i].chain==out[j].chain)
                continue;
loopover:
            for (var ei in resi) {
                for (var ej in resj) {
                    var d = resi[ei].dist(resj[ej]);
                    if (d<=cutoff) {
                        contacts.push({atomi: resi[ei].atomName, atomj: resj[ej].atomName, 
                               x: 1*resi[ei].index, y: 1*resj[ej].index,
                               namei: resi[ei].key, namej: resj[ej].key});
                        break loopover;
                    }
                }
            }


        }
    }
    chart.series[0].setData(contacts);
}



    $('#container').highcharts({
        tooltip: {
            crosshairs: [true,true]
        },
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Contact map between receptor and peptide'
        },
        xAxis: {
            tickInterval: 5,
            gridLineWidth: 1,
            title: {
                enabled: true,
                text: 'Receptor sequence'
            },
            startOnTick: false,
            endOnTick: false,
            showLastLabel: false
        },
        yAxis: {
            tickInterval: 5,
            title: {
                text: 'Peptide sequence'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.namei} and {point.namej} {point.atomi}'
                }
            }
        },
        series: [{
            name: 'Contacts',
            color: 'black',
            marker: {
                symbol: 'square',
                lineWidth:2,
                lineColor:'yellow', 
                radius:6
            },
            data: [],
            turboThreshold: 10000
                               
        }]
    });


var chart = $('#container').highcharts();



</script>
{% endblock %}

