{% extends "index.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <address>
            <strong>Laboratory of Theory of Biopolymers</strong><br>
            Faculty of Chemistry,
            University of Warsaw<br>
            Pasteura 1, 02-093 Warsaw, Poland<br>
            tel.: (+48) 22 8220211<br>
            fax: (+48) 22 8220221, (+48) 22 8225996<br>
            <a href="http://biocomp.chem.uw.edu.pl" target="_blank">Laboratory homepage</a><br>

            <i class="fa fa-envelope-square"></i> biocomp<i class="fa fa-at"></i>chem.uw.edu.pl

            </address>

            <p><strong>Authors</strong><br><address>
                <small>
                <ul>
                    <li>Mateusz Kurcinski☯</li>
                    <li>Michal Jamroz☯</li>
                    <li>Maciej Blaszczyk</li>
                    <li>Sebastian Kmiecik</li>
                    <li>Andrzej Kolinski</li>
                </ul>
                <br>☯ - equal contribution
                </small>
            </address>
            <hr>
            <h2>Citation</h2>
                    Mateusz Kurcinski, Michal Jamroz, Maciej Blaszczyk, Andrzej Kolinski, Sebastian Kmiecik, <strong>CABS-dock web server for flexible docking of peptides to proteins without prior knowledge of the binding site</strong>, Nucleic Acids Research, 2015
            <hr>
            <h2>Funding</h2>
                    This work was supported by the Foundation for Polish Science TEAM project [TEAM/2011-7/6] co-financed by the EU European Regional Development Fund operated within the Innovative Economy Operational Program; and Polish Ministry of Science and Higher Education [IP2014 016573].
        </div>
    </div>
</div>

{% endblock %}
