{% from 'macros.html' import render_field %}
{% from 'macros.html' import render_checkbox_field %}
<!doctype html>
<html lang='en'>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<title>
{% if pdb %}
{% endif %}
</title>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/my_custom.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block header %}
    {% endblock %}
</head>


<body data-spy="scroll" data-target="#affix-nav">

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{{url_for("index_page")}}">CABS multidock</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info"></i> Read more</a></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="">Introduction</a></li>
    </ul>
</li>
<li>        <form class="navbar-form" role="search" action="" style="width:170px;margin-top:13px">
<div class="input-group">
            <input type="text" class="form-control" placeholder="Przeszukaj po nazwie" style="height:25px;font-size:11px" name="pdbid" id="pdbid" style="height:25px">
          </div>
      </form></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% with infos = get_flashed_messages(category_filter=["info"]) %}
            {% if infos %}
                    {% for message in infos %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-thumbs-o-up"></i> 
                                {{ message.decode('utf-8')|safe }}
                        </div>
                    {% endfor %}
            {% endif %}
            {% endwith %}

            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-exclamation-triangle"></i> <strong>Warning:</strong>
                        {% for message in errors %}
                            {{ message.decode('utf-8')|safe }}
                        {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                <h1>CABS doock</h1>
        </div></div>
                <div class="row">
                    <div class="col-md-4">
                        <img width=100% src={{url_for('static',filename='img/CABSdock.svg')}}>
                    </div>
                    <div class="col-md-8">
                        <p> This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">













                <div class="panel panel-default">
                    <div class="panel-body">
            <form  enctype="multipart/form-data" method="POST" action="{{url_for('index_page')}}">
       
                <div class="panel panel-primary">
                    <div class="panel-heading">
                                Receptor
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                {{render_field(form.pdb_receptor, placeholder='2PCY')}}
                            </div>
                            <div class="col-md-6">


    <div class="form-group {% if form.receptor_file.errors %}has-error{% endif %}">
        or <label for="{{ form.receptor_file.id }}" class="control-label">{{form.receptor_file.label}}</label>
        <br><span class="btn btn-primary btn-file"><input type=file id="{{ form.receptor_file.id }}" name="{{ form.receptor_file.id }}"> Select file</span>
                                {% if form.receptor_file.errors %}
            {% for e in form.receptor_file.errors %}
                <p class="help-block">{{ e|safe }}</p>
            {% endfor %}
        {% endif %}
    </div>






                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Ligand
                    </div>
                    <div class="panel-body">
                        {{render_field(form.ligand_seq, placeholder='ALA', style='text-transform:uppercase;', onkeyup="javascript:this.value=this.value.toUpperCase();")}}

            </div>
        </div>
<div class="panel-group" id="accordion">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Optional
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        {{render_field(form.name, placeholder='Project name')}}
                    </div>
                    <div class="col-md-6">
                        {{render_field(form.email, placeholder='john@doe.com')}}
                    </div>
                </div>
                {{render_field(form.ligand_ss, placeholder='EHC', style='text-transform:uppercase;', onkeyup="javascript:this.value=this.value.toUpperCase();")}}
                {{render_checkbox_field(form.show)}}
      </div>
    </div>
  </div>
</div>

                {{form.jid}}
                {{form.csrf_token()}}
                <p class="help-block"><i class="fa fa-exclamation"></i> - required</p>
                <hr>
                
                    <input type="submit" class="btn btn-block btn-success" value="Next step">
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>

{% endblock %}
<div class="container">
    <hr><small class="text-muted" style="float:right">LTB</small>
</div>
{%block jsdata %}
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{%endblock %}

{%block below_js%}
{%endblock%}
</body>
</html>
