{% extends "index.html" %}
        {% block indexuniq %}
        {% endblock %}
    {% block header %}
    <title>CABSdock: {{sys['project_name']}}</title>
    {% endblock %}

{% block body %}
<div class="container">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#summary" role="tab" data-toggle="tab"><i class="fa fa-info"></i> Job status information</a></li>
  <li><a href="#models" role="tab" data-toggle="tab"><i class="fa fa-database"></i> Docking results</a></li>
  <li><a href="#clustering" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Clustering</a></li>
  <li><a href="#constraints" role="tab" data-toggle="tab"><i class="fa fa-wrench"></i> Simulation parameters</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="summary">
      <div class="panel">
          <div class="panel-body">
            <h3>
                {{sys['project_name']}}
                <span class="pull-right"> 
Status:                    {{status|safe}}
                </span>
                <small>submitted: {{sys['status_date']}}</small>
            </h3>
            <hr>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                </div>
            </div>


            <p> Jakieś lorem ispsumsd alfjsd oac </p>
        </div>
    </div>

  </div> <!-- end tab summary -->
  <div class="tab-pane" id="models">
      <div class="panel">
          <div class="panel-body">
olele, dwa modele
        </div>
      </div>
      
  </div> <!-- end tab models -->
  <div class="tab-pane" id="clustering">
      <div class="panel">
          <div class="panel-body">

      jakaś tabelka z fajnymi numerkamy
        </div>
      </div>
  </div> <!-- end tab clustering -->
  <div class="tab-pane" id="constraints">
      <div class="panel">
          <div class="panel-body">
      <h4>Input</h4>
      <table class="table table-hover">
        <tr>
            <td><strong>
Receptor sequence(s)
                </strong>
            </td>
            <td>
                <span class='sequence'>{{sys['receptor_sequence']}}</span>
            </td>
        </tr>


        <tr>
            <td><strong>
Ligand sequence
                </strong>
            </td>
            <td>
                <span class='sequence'>{{sys['ligand_sequence']}}</span>
            </td>
        </tr>

      </table>

      <h5>Restraints <small>restrained chain fragments and force scaling factor</h5>
      <table class="table table-bordered table-stripped table-condensed">
          {% set break=5 %}
          {% set iter=0 %}
        <tr>
          {% for row in constr %}
          <td>{{row['constraint_definition']}} <span class="label label-info pull-right">{{row['force']}}</span></td>
            {% set iter = iter + 1 %}
            {% if iter==break %}
                </tr><tr>
            {% set iter=0 %}
            {%endif%}

            
          {% endfor %}
      </table>
      <h5>Restraints global scaling factor: {{sys['constraints_scaling_factor']}}</h5>
        </div>
      </div>
  </div> <!-- end tab costam -->
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <i class="fa fa-recycle"></i> <strong>Note</strong> This page will be deleted after 14 days after job complete.
</div>

</div>
{% endblock %}
