{% extends "job_info1.html" %}

    {% block job_scripts %}
        <script src="{{url_for('static', filename='js/jsmol/JSmol.min.js')}}" type="text/javascript" charset="utf-8"></script>
        <script>
        var jmol="jmol";
        var jme = "jme";
        var jmolApplet0; // set up in HTML table, below
        var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all options

        jmol_isReady = function(applet) {}
        var JmolInfo = {
            width: '100%',
            height: '100%',
            debug: false,
            color: "white",
            addSelectionOptions: false,
            serverURL: "http://biocomp.chem.uw.edu.pl/jsmol.php",
            use: "HTML5",
            readyFunction: jmol_isReady,
           // script: "set platformSpeed 8;background white;set frank off;set hoverDelay 0.001;set bondTolerance = 5.0;load {{url_for('sendfile', filetype='models', filename=results['models'][0], jobid=jid)}};restrict protein; color chain;trace only",
            script: "set platformSpeed 9;background white;set frank off;set hoverDelay 0.001;load {{url_for('sendfile', filetype='models', filename=results['models'][0], jobid=jid)}};cartoon only;restrict protein; color chain;cartoons on;zoom -20",
            j2sPath: "{{url_for('static', filename='js/jsmol/j2s')}}",
            isSigned: "true",
            defaultModel: "",
            console: "false",
}
var JMEInfo = {  
	use: "HTML5"
}
function loadMol(o) {
    var oldidx = o.dataset.model;
    
    var template = "{{url_for('sendfile', filetype='models', filename='TOREPLACE', jobid=jid)}}";
    var curr_model = template.replace("TOREPLACE", oldidx);
            //script: "set platformSpeed 8;background white;load {{url_for('sendfile', filetype='models', filename=results['models'][0], jobid=jid)}};restrict protein; trace only;color chain",
    Jmol.script(jmolApplet0,"load "+curr_model+"; restrict protein; color chain;cartoons on;cartoon only;zoom -20");
    $("span[name^=V]").html("");
    $("tr[name^=R]").removeClass("info");
    $("tr[name^=R"+oldidx.split(".")[0]+"]").addClass("info");
    $("span[name^=V"+oldidx.split(".")[0]+"]").html("<i class='fa fa-eye'></i>");
}
function loadReplica(o) {
    var fetch_url ="{{url_for('send_unzipped_cluster', model_idx="IDX", rep_idx="REPIDX", jobid=jid)}}"; 
    fetch_url = fetch_url.replace("IDX", o.x).replace("REPIDX", o.y);
    var scr = "set platformSpeed 8;set frank off;set hoverDelay 0.001;background white;load "+fetch_url+";color chain; connect 3.2 4.3 (carbon) (carbon) create;wireframe 0.4";
    Jmol.script(jmolApplet1,scr);
    $("#model_desc").html("Selected model: "+o.x+" (trajectory: "+o.y+", cluster: "+o.series.legendItem.textStr+") <a href='"+fetch_url+"' target=_blank><i class='fa fa-download'></i> download the model</a>");

}
function loadTraf(o) {
    var oldidx = o.dataset.model;
    var template = "{{url_for('sendfile', filetype='replicas', filename='TOREPLACE', jobid=jid)}}";
    var curr_model = template.replace("TOREPLACE", oldidx);
    //console.log(curr_model);
    var scr = "set platformSpeed 1;set frank off;set hoverDelay 0.001;background white;load "+curr_model+";color chain; connect 3.2 4.4 (carbon) (carbon)  create;wireframe 0.6;anim mode loop;anim fps 8;anim on";
    scr = "set platformSpeed 8;set frank off;set hoverDelay 0.001;background white;load trajectory "+curr_model+";color chain; connect 3.2 4.2 (carbon) (carbon)  create;wireframe 0.4;anim mode loop;zoom -20; anim fps 6;anim on";

    Jmol.script(jmolApplet0,scr);
    $("span[name^=TV]").html("");
    $("tr[name^='TR']").removeClass("info");
    $("tr[name=='TR"+oldidx+"']").addClass("info");
    $("span[name=='TV"+oldidx+"']").html("<i class='fa fa-eye'></i>");
}
        </script>
{% endblock %}

{% block job_viewwindow %}
      <div class="row">
          <div class="col-md-8">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    Zoom/rotate predicted model of the complex using mouse. Click the "View"
                    button on the right panel to load the appropriate model.
                        <small><a href="{{url_for('job_status', jid=jid)}}">View in 3Dmol <small>(WebGL)</small></a></small>
          </div>
          </div>
          <div class="col-md-4">
              <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
             Models are ranked and numbered according to their occurrence in docking trajectory (1 = most probable result).
              </div>
          </div>
      </div>
      <div class="row">
          <div class="behind col-md-8">
            <div id="ooo" style="height:450px;border:0px solid;border-color:#eee;margin-bottom:15px">
                <script>
                Jmol._alertNoBinary = false;
                jmol = Jmol.getApplet("jmolApplet0", JmolInfo);
                jme = Jmol.getJMEApplet(jme , JMEInfo, jmol);
                var lastPrompt=0;
                </script>
            </div>
        </div>
{% endblock %}

