<!-- ------------------------------------------początek działań Maćka -->

<h2>About CABS-dock</h2>
<h3>Introduction</h3>


<p style="text-align:justify">Protein-peptide interactions play a key role in cell functions. Their structural characterization, though challenging, is important for the discovery of new drugs. The CABS-dock web server provides an interface for modeling protein-peptide interactions using a highly efficient protocol for the flexible docking of peptides to proteins [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref 1, 2</a>]. Some of other docking algorithms require pre-defined localization of the binding site, CABS-dock doesn’t require such knowledge. Given a protein receptor structure and a peptide sequence (and starting from random conformations and positions of the peptide), CABS-dock performs simulation search for the binding site allowing for full flexibility of the peptide and small
fluctuations of the receptor backbone (see <a href="#fig1">Figure 1</a>,<a href="#mov1">Movie&nbsp;1</a>, <a href="#mov2">Movie&nbsp;2</a>, <a href="#mov3">Movie&nbsp;3</a> below). Additionally, the advanced option “Mark flexible regions” enable to assign a full flexibility to a selected fragment of a protein receptor structure. This feature has been used in the study of large-scale conformational changes of MDM2 receptor to p53 peptide [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref 3</a>] (see <a href="#mov3">Movie 3</a>). Moreover, simulation contact maps, a new CABS-dock feature, have been described in the book chapter [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref 4</a>].

<a id="fig1"></a><p style="text-align:justify"><small><strong>
Figure 1. Basic stages of the CABS-dock protocol are illustrated on the example benchmark case (PDB ID: 2P1T). The protein receptor is colored in green, modeled peptide conformations in magenta and the reference experimental peptide structure in yellow. The following CABS-dock stages are visualized: (1) simulation start (from random conformations and positions of the peptide); (2) simulation result (10 trajectories comprising a set of 10,000 models); (3) filtering and clustering result (a set of models grouped in similar binding modes and similar peptide conformations); (4) final models (a set of 10 representative models). In the presented benchmark case, 7 of the 10 final models were docked in the native binding site (marked in red rectangle). Among these, the best accuracy model was within
1.37 Å to the native (shown in the right bottom corner superimposed on the native peptide structure).
</strong></small></p>
<p align="center"><img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/about1.png')}}"></p>
<br>

<a id="mov1"></a><p style="text-align:justify"><small><strong>
Movie 1. CABS-dock docking simulation of, the assembly of major histocompatibility complex (MHC)-peptide structure (PDB accession code 3BWA). Experimental peptide structure is shown in green, while the simulated peptide in red. The movie shows 1 of 10 trajectories generated in a standard CABS-dock simulation run. The root mean square deviation of the peptide at the simulation end is within 1.83 Angstroms from the experimental structure.
</strong></small></p>
<br>
<center><iframe width="640" height="480" src="https://www.youtube.com/embed/EOqRF-JOTFg?rel=0" frameborder="0" allowfullscreen></iframe></center>
<hr>

<a id="mov2"></a><p style="text-align:justify"><small><strong>
Movie 2. CABS-dock docking simulation of the assembly of HIV-1 protease and NC-p1 peptide. During blind search for a binding site, the peptide spontaneously inserts into the receptor cavity. The lowest RMSD model is below 1 Angstrom. The movie presents three panels showing: 1 replica of the simulated peptide - in purple - and the reference experimental structure - in green (left panel); 10 replicas of the simulated peptide in a single CABS-dock simulation run (upper right panel); RMSD of the simulated peptide versus the CABS-dock energy (lower left panel).
</strong></small></p>
<br>
<center><iframe width="640" height="360" src="https://www.youtube.com/embed/dkArNVD-o0c?rel=0" frameborder="0" allowfullscreen></iframe></center>
<hr>

<a id="mov3"></a><p style="text-align:justify"><small><strong>
Movie 3. CABS-dock docking simulation of binding of MDM2 protein receptor and p53 peptide with large-scale conformational changes of disordered MDM2 fragments <i class="fa fa-external-link"></i>&nbsp;ref&nbsp;3</a>].
</strong></small></p>
<br>
<center><iframe width="640" height="360" src="https://www.youtube.com/embed/xsvXdHcEmOI?rel=0" frameborder="0" allowfullscreen></iframe></center>
<hr>

<h3>Protocol overview</h3>


<p style="text-align:justify">The CABS-dock simulations are carried out using a CABS coarse-grained protein model. The CABS design and applications have been recently reviewed (see [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;5</a>] and Movie&nbsp;4). </p>
<p style="text-align:justify"><small><strong>
<a id="mov4"></a>Movie 4. Short slide presentation of the review paper on coarse-grained protein models and their applications <i class="fa fa-external-link"></i>&nbsp;ref&nbsp;6</a>].
</strong></small></p>
<center><iframe width="640" height="360" src="https://www.youtube.com/embed/O0XRBlSXZrw?rel=0" frameborder="0" allowfullscreen></iframe></center>

<p style="text-align:justify">The CABS-dock method was developed, optimized and validated during the following simulation experiments:</p> 
<ol>
<li>protein-peptide docking studies [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;1-2</a>] including modeling of large-scale conformational changes of protein receptor structure [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;3</a>]</li>
 <li>mechanism of folding and binding of an intrinsically disordered peptide (see [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;6</a>] and <a  href="#mov5">Movie&nbsp;5</a>);</li>
 <li> docking of antigen-mimicking peptides to antibody [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;7</a>];</li>
 <li>docking of peptide co-activators to the nuclear receptors [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref&nbsp;8-9</a>]. 
</ol>
<p style="text-align:justify"><small><strong>
<a id="mov5"></a>Movie 5. Example simulation of folding and binding of an disordered peptide (from [<a href="#ref"><i class="fa fa-external-link"></i>&nbsp;ref 6</a>]) done using the CABS-dock simulation engine.
</strong></small></p>
<center><iframe width="640" height="480" src="https://www.youtube.com/embed/WhS8UFaEodk?rel=0" frameborder="0" allowfullscreen></iframe></center>

<br>


<p style="text-align:justify">These studies showed that the method is able to predict complex arrangements close to the native structure. Importantly, in all the validation tests mentioned above, peptides were allowed to be fully flexible and no information about the binding site or peptide conformation was used. 
The CABS-dock protocol consists of the following steps (see also <a href="#fig1">Figure&nbsp;1</a> and <a href="#fig2">Figure&nbsp;2</a>): </p>
<a id="fig2"></a><p style="text-align:center">

<div class="row">
    <div class="col-md-7">
<ol>
<li><p style="text-align:justify"><b>Generating random structures.</b> Random structures of the peptide are generated and randomly placed on the surface of the sphere centered at the receptor’s geometrical center (the radius of the sphere is the receptor dimension in the longest direction + 20 angstroms).</p></li>
<li><p style="text-align:justify"><b>Simulation of binding and docking.</b> The CABS-dock procedure utilizes Replica Exchange Monte Carlo dynamics with 10 replicas uniformly spread on the temperature scale. Additionally the temperatures of the replicas constantly decrease as the simulation proceeds to end on the bottom of the energy minima. On output the procedure produces 10 trajectories (one for each replica), each consisting of 1000 time-stamped simulation snapshots for a combined total of 10,000 models. During the simulation, the receptor molecule is kept in near-native conformations by a set of distance restraints binding pairs of C-alpha atoms. The restraints are selected from the distance map calculated on the input structure based on the following conditions: only C-alpha atoms located
within a 5-15 Å range from each other are restrained; the minimum sequence gap between restrained residues is set to 5; violation of the restraint by less than 1 Å is not penalized; beyond that the energetic penalty increases linearly. If the user marks some of the residues as semi-flexible or fully flexible, the slope of the penalty is halved or set to 0, respectively, for all restraints assigned to the marked residues.</p></li>
<li><p style="text-align:justify"><b>Selection of the final representative models</b> is a two-step procedure:
<ul>
<li><p style="text-align:justify">Initial filtering. From each of the 10 trajectories, all unbound states are excluded and next 100 lowest binding energy models are selected (or less if a trajectory contains less than 100 bound states, which is rarely the case), for the next step of the procedure.</p></li>
<li><p style="text-align:justify">K-medoids clustering. Selected models (1000 in total) are clustered together in the k-medoids procedure. Clustering is performed 100 times with different initial medoids and k=10. Ten consensus medoids are selected as the final models.</p></li>
</ul>
</p>
</li>
<li><p style="text-align:justify"><b>Reconstruction of the final models.</b> Final models are reconstructed from the C-alpha trace to an all-atom representation and subsequently undergo optimization process.</p></li>
</ol>

    </div>
    <div class="col-md-5">
<small><strong> Figure 2. CABS-dock flow-chart</strong></small></p>
<img class="img-thumbnail img-responsive" src="{{url_for('static', filename='img/about2.png')}}">
    </div>
    </div>


<hr>
<a id="ref"></a><h3>References</h3>

<ol>
<li><a target="_blank" href="https://doi.org/10.1093/nar/gkv456"><i class="fa fa-external-link"></i> Kurcinski, M.; Jamroz, M.; Blaszczyk, M.; Kolinski, A.; Kmiecik, S., CABS-dock web server for the flexible docking of peptides to proteins without prior knowledge of the binding site. Nucleic Acids Res 2015, 43, (W1), W419-24.</a></li>

<li><a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S1046202315300207"><i class="fa fa-external-link"></i>Blaszczyk, M.; Kurcinski, M.; Kouza, M.; Wieteska, L.; Debinski, A.; Kolinski, A.; Kmiecik, S., Modeling of protein-peptide interactions using the CABS-dock web server for binding site search and flexible docking. Methods 2016, 93, 72-83.</a></li>

<li><a target="_blank" href="http://www.nature.com/articles/srep37532"><i class="fa fa-external-link"></i>Ciemny, M. P.; Debinski, A.; Paczkowska, M.; Kolinski, A.; Kurcinski, M.; Kmiecik, S., Protein-peptide molecular docking with large-scale conformational changes: the p53-MDM2 interaction. Sci Rep 2016, 6, 37532.</a></li>

<li><a target="_blank" href="https://link.springer.com/protocol/10.1007%2F978-1-4939-6798-8_6"><i class="fa fa-external-link"></i>Ciemny, M. P.; Kurcinski, M.; Kozak, K. J.; Kolinski, A.; Kmiecik, S., Highly Flexible Protein-Peptide Docking Using CABS-Dock. Methods Mol Biol 2017, 1561, 69-94.</a></li>

<li><a target="_blank" href="http://pubs.acs.org/doi/abs/10.1021/acs.chemrev.6b00163"><i class="fa fa-external-link"></i>Kmiecik, S.; Gront, D.; Kolinski, M.; Wieteska, L.; Dawid, A. E.; Kolinski, A., Coarse-Grained Protein Models and Their Applications. Chem Rev 2016, 116, (14), 7898-936.</a></li>

<li><a target="_blank" href="http://pubs.acs.org/doi/abs/10.1021/ct500287c"><i class="fa fa-external-link"></i>Kurcinski, M.; Kolinski, A.; Kmiecik, S., Mechanism of Folding and Binding of an Intrinsically Disordered Protein As Revealed by ab Initio Simulations. J Chem Theory Comput 2014, 10, (6), 2224-31.</a></li>

<li><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/21455557"><i class="fa fa-external-link"></i>Horwacik, I.; Kurcinski, M.; Bzowska, M.; Kowalczyk, A. K.; Czaplicki, D.; Kolinski, A.; Rokita, H., Analysis and optimization of interactions between peptides mimicking the GD2 ganglioside and the monoclonal antibody 14G2a. Int J Mol Med 2011, 28, (1), 47-57.</a></li>

<li><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/20398753"><i class="fa fa-external-link"></i>Kurcinski, M.; Kolinski, A., Theoretical study of molecular mechanism of binding TRAP220 coactivator to Retinoid X Receptor alpha, activated by 9-cis retinoic acid. J Steroid Biochem Mol Biol 2010, 121, (1-2), 124-9.</a></li>

<li><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/17241780"><i class="fa fa-external-link"></i>Kurcinski, M.; Kolinski, A., Steps towards flexible docking: modeling of three-dimensional structures of the nuclear receptors bound with peptide ligands mimicking co-activators' sequences. J Steroid Biochem Mol Biol 2007, 103, (3-5), 357-60.</a></li>
</ol>


<!-- --------------------------------------------------------koniec działań Maćka -->
