Obrazki wstawiamy tak: <img class="img-rounded" src="{{url_for('static', filename='img/OBRAZEK.jpg')}}">. To, że się nie wyświetlają - to nic, tak ma zostać.

<h2>Tytuł</h2>
<p>Lorem ipsum...</p>
<h3>podtutuł</h3>
<p>Lorem ipsum...</p>
<h4>podpodtutuł</h4>
<p>Lorem ipsum...</p>

<p>akapit:</p>
<ul>
    <li> lista </li>
    <li> nienumerowana </li>
</ul>
<ol>
    <li> lista </li>
    <li> numerowana </li>
</ol>


<p>Odnośniki do zewnętrznych tekstów wstawiamy tak: <a href="http://noooooooooooooooooo.com" target="_blank">opis odnośnika</a>. Natomiast te do lokalnych - wstawię ja (MJ), trzeba je jedynie oznaczyć w treści.</p>


<p>Tabelki wstawiamy tak:</p>
<table class="table table-bordered">
    <tr>
        <td>
            pierwsza kolumna pierwszego wiersza
        </td>
        <td>
            druga kolumna pierwszego wiersza
        </td>
    </tr> <!-- koniec wiersza -->
    <tr> <!-- poczatek poierwzego wiersza -->
        <td>
            pierwsza kolumna drugiego wiersza
        </td>
        <td>
            druga kolumna drugiego wiersza
        </td>
    </tr> <!-- koniec wiersza -->



</table>
